@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:'Montserrat', Times, serif;
  padding: 0 10%;
  padding-bottom: 50px;
}

.header__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 28px;
  font-weight: 600;
}

.btn-perricos {
  margin: 1rem 1rem;
  padding: 1rem 2rem;

  border: 1px solid #c2c2c2;
  border-radius: 10px;
  background-color: #f7f6f6;
  display: inline-block;

  box-shadow: 0px 6px 5px 0px rgba(112, 112, 112, 0.055);
}

.btn-perricos:hover{
  background-color: #3a2a97;
  color: #f7f6f6;
  cursor: pointer;
}
.btn-perricos:disabled{
  background-color: #524f61;
}

.btn-selected{
  margin: 1rem 1rem;
  padding: 1rem 2rem;

  border: 1px solid #c2c2c2;
  border-radius: 10px;
  background-color: #3a2a97;
  color: #f7f6f6;
  display: inline-block;

  box-shadow: 0px 6px 5px 0px rgba(112, 112, 112, 0.055);
}

div {
  text-align: center;
}

.card {
  display: inline-block;
  vertical-align: top;

  border: 1px solid #eeeeee;
  border-radius: 20px;
  box-shadow: 6px 6px 5px 0px rgba(112, 112, 112, 0.055);

  padding: 3rem 0;
  width: 300px;
  text-align: center;
  margin: 10px;
}

.card p{
  font-size: 28px;
}

.card button{
  padding: 0.75rem 0.75rem;
  border: 1px solid #c2c2c2;
  border-radius: 10px;
  cursor:pointer;
  display: inline-block;
}
img {
  max-width: 100%;
  max-height: 150px;
}
.btn-unselected{
  background-color: #f7f6f6;
  color: black;
}
.btn-like{
  background-color: #791a17;
  color: white;
}

.btn-dislike{
  background-color: #0a5f2a;
  color:white;
}

select, input{

  border: 1px solid #c2c2c2;
  border-radius: 10px;
  background-color: #f7f6f6;
  display: inline-block;

  box-shadow: 0px 6px 5px 0px rgba(112, 112, 112, 0.055);
}

.bottom-menu {
  position: fixed;
  inset: auto auto 2rem 50%;
  transform: translateX(-50%);
  
  border: 1px solid rgba(46, 46, 46, 0.2);
  border-radius: 999px;
  background-color: #ffffff;
  box-shadow: 0px 6px 5px 0px rgba(112, 112, 112, 0.1);

  width: auto;
}

.bottom-menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}

.bottom-menu img {
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin: 0.5rem 4rem;
  background-color: black;
}


