@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    display: flex;
    flex-direction: column;
    padding: 0 7rem;
    font-family:'Montserrat', Times, serif;
}

.swiper {
    text-align: center;
    width: 100%;
    height: 300px;
}

.container-row {
    display: flex;
    flex-direction: row;
}

.logros-container {
    border: 2px solid green;
    width: 40%;
}

.logros-container h3{
    font-weight: 400;
    margin-bottom: 8px;
}

.empty-progress-bar {
    background-color: rgb(238, 236, 234);
    width: 100%;
    height: 15px;
    border-radius: 99px;
}

.rellena-progress-bar {
    width: 50%;
    height: 100%;
    background-color: blueviolet;
    border-radius: 99px;
}

.logros-container p {
    font-size: 14px;
    margin-top:8px;
    text-align: right;
}

.liked-dog-container {
    width: 60%;
    border: 2px solid orange;
    padding: 0 2rem;
    
}

.activity-container {
    border: 2px solid pink;
}

.activity-container article {
    display: flex;
    flex-direction: row;
}

.activity-container .information-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid blue;
}
