.topbar__container {
    position: fixed;
    inset: 0 0 auto 0;
    height: 3.5rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0px 1px 10px #684f34;
}

body{
    padding-top: 3.5rem;
}